main {
  margin: 20px;
}

/* Select all elements with a name attribute */
[name] {
  width: 100%;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* width when textarea does not go under label */
@media all and (min-width: 600px) {
  [name] {
    width: 550px;
  }
}
